<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="index.html">{{ title }}</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>
</nav>
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-home"></i>
        <span style="margin-left:10px;">Home</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="map">
        <i class="fas fa-fw fa-map"></i>
        <span style="margin-left:10px;">Map</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="charts">
        <i class="fas fa-fw fa-chart-line"></i>
        <span style="margin-left:10px;">Charts</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dataset-table">
        <i class="fas fa-fw fa-table"></i>
        <span style="margin-left:10px;">Dataset Table</span></a>
    </li>
  </ul>

  <div id="content-wrapper">

    <div class="container-fluid">
      <router-outlet></router-outlet>    
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Projet Angular 2019</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
