<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Map</li>
</ol>

<!-- Home -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-fw fa-map"></i>
    2D World Map</div>
  <div class="card-body">
    <div leaflet
      [leafletOptions]="leafletOptions"
      [leafletBaseLayers]="baseLayers"
      [leafletLayersControlOptions]="layersControlOptions"
      (leafletMapReady)="onMapReady($event)">
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
