<div id="pie-chart" style="display: block">
  <canvas id="pie-chart-element" mdbChart 
          [chartType]="chartType" 
          [data]=[francais.length,americains.length,allemands.length,espagnols.length,anglais.length]
          [labels]="chartLabels" 
          [colors]="chartColors" 
          [options]="chartOptions" 
          [legend]="true" 
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>