<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Dataset table</li>
  </ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Data Table Example</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Email</th>
              <th>Pays</th>
              <th>Nom de l'action</th>
              <th>Indice Boursier</th>
              <th>Solde (€)</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Pays</th>
                <th>Nom de l'action</th>
                <th>Indice Boursier</th>
                <th>Solde (€)</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let personne of personnes">
              <td>{{personne.id}}</td>
              <td>{{personne.nom}}</td>
              <td>{{personne.prenom}}</td>
              <td>{{personne.email}}</td>
              <td>{{personne.pays}}</td>
              <td>{{personne.stock_name}}</td>
              <td>{{personne.stock_symbol}}</td>
              <td>{{personne.balance}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>